<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${stacktrace}|${message}" />
    <target name="file" xsi:type="File" fileName="C:\KBSource\KB\KnowledgeBase\logs\ResponsivePortalLogs\${shortdate}_ResponsivePortal.txt" layout="${longdate}|${level}|${message}|${exception:format=ToString}${newline}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="console,file" />
  </rules>
</nlog>