@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Sorry! You are not authorized to access this portal.</h2>

